body {
  margin: 0;    
}


#heading {
    display: flex;
    text-align: right;
    margin-bottom: 25px;
}

h2{
    font-size: 40;
}

.rectangle {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  border: 5px solid #8EEEDE;
  display: flex;
  height: 400px;
  justify-content: center;
  margin-left: 12px;
  margin-right: 12px;
  padding: 20px;
  transition: 1s; 
  width: 264px; 
}

.rectangle:hover {
  transform: scale(1.05);
}

.rectangle-label {
    font-size: 30;
}

.empty-rectangle {
  display: flex;
  height: auto;
  width: 50px;
}

.box {
  align-items: center;  
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .box {
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
  
  .navbar a {
    float: none;
    display: block;
  }
}

a {
  color: black;
  text-decoration: none;
}

.center {
  text-align: center;
}
