.listing {
  display: flex;
  flex-flow: row nowrap;
}

.listing:hover {
  cursor: pointer;
}

.listing-heading-container {
  display: flex;
  justify-content: space-between;
}

.listing-image {
  border: 5px solid #8EEEDE;
  border-radius: 15px;
  margin-right: 10px;
  width: 150px;
}

.listing-preview-name {
  margin: 0;
}

@media only screen and (min-width: 2450px) {
  .preview-info {
    display: flex;
    flex-direction: column;
  }
}
