.listing {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.listing:hover {
  cursor: pointer;
}

.listing-heading-container {
  display: flex;
  justify-content: space-between;
}

.listing-info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: -webkit-fill-available;
}

.listing-image {
  border: 5px solid #8EEEDE;
  border-radius: 15px;
  height: 150px;
  margin-right: 10px;
  width: 150px;
}

.listing-preview-details {
  margin: 1rem 0 0 0;
}

.listing-preview-name {
  margin: 0;
}

.preview-info {
  display: flex;
  flex-direction: column;
}

/* Add animation to "preview listings" */
.preview-listings {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: animatebottom;
  animation-name: animatebottom;
  position: relative;
  text-align: center;
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* Safari */
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
