.listing {
  display: flex;
  flex-flow: row nowrap;
}

.listing:hover {
  cursor: pointer;
}

.listing-heading-container {
  display: flex;
  justify-content: space-between;
}

.listing-info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: -webkit-fill-available;
}

.listing-image {
  border: 5px solid #8EEEDE;
  border-radius: 15px;
  height: 150px;
  margin-right: 10px;
  width: 150px;
}

.listing-preview-name {
  margin: 0;
}

.preview-info {
  display: flex;
  flex-direction: column;
}
