.listing-detailed-card {
  height: 85%;
  margin: 30px;
  max-width: 1500px;
  overflow-y: auto;
  width: 100%;
}

.listing-detailed-description {
  margin: 0;
}

.pill {
  border-radius: 2rem;
  display: inline-block;
  font-weight: 500;
}

.title {
  display: flex;
}

/* || Reputation */

#reputation-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#reputation-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: fit-content;
}

#reputation-button-container p {
  margin: 1em;
}

.reputation-button {
  background: none;
  border: none;
  color: #9E9E9E;
  display: flex;
  justify-content: center;
}

.reputation-button i {
  color: inherit;
  font-size: 2em;
  margin-right: 0.25em;
}

.reputation-button i:hover,
.reputation-button i:focus {
  color: #757575;
}

.reputation-button span {
  font-size: 1.5em;
}

.reputation-button-clicked {
  color: #212121 !important;
}

.reputation-heading {
  border-bottom: 1.5px dotted black;
  margin-bottom: 0.5rem;
}

.reputation-heading-container {
  position: relative;
}

.reputation-tooltip {
  background-color: #FFFFFFE6;
  display: none;
  left: -5em;
  position: absolute;
  top: 1.5em;
  width: 17em;
}

/* small - medium screens */
@media only screen and (max-width: 1550px) , only screen and 
    (max-height: 1230px) {
  .detailed-attribute {
    margin: 1rem 0 0 0;
  }

  .listing-detail {
    margin: 0rem;
  }

  .listing-detailed-card {
    width: 1100px;
  }  

  .listing-details {
    text-align: center;
    margin: 1rem;
  }

  .pill {
    font-size: 1.6rem;
  }
}

/* large screens */
@media only screen and (min-width: 1550px) , only screen and 
    (min-height: 1230px) {
  .detailed-attribute {
    margin: 1.5rem 0 0 0;
  }

  .listing-details {
    text-align: left;
  }

  .pill {
    font-size: 2rem;
  }

  .reputation-heading {
    margin: 1.5rem;
  }  
}
