.title {
  display: flex;
}

.category-pill {
  border-radius: 2rem;
  display: inline-block;
}

.listing-detailed-card {
  height: 85%;
}

.reputation-pill {
  border: .3rem solid green;
  border-radius: 2rem;
  display: inline-block;
  margin: 0;
  padding: .5rem;
}

/* medium screens that are in portrait*/
@media only screen and (max-width: 1000px) and (orientation: portrait) {
  .listing-details {
    text-align: center;
  }
}

/* medium - large screens */
@media only screen and (min-width: 600px) {
  .category-pill {
    font-size: 2rem;
  }

  .reputation-pill {
    font-size: 2rem;
  }
}

/* medium - large screens */
@media only screen and (min-width: 1000px) {
  .listing-details {
    text-align: left;
  }
}
