.listing-detailed-card {
  height: 85%;
  margin: 30px;
  width: 100%;
}

.pill {
  border-radius: 2rem;
  display: inline-block;
}

.reputation-pill {
  border: .3rem solid green;
  margin: 0;
  padding: .5rem;
}

.title {
  display: flex;
}

/* small - medium screens */
@media only screen and (max-width: 1550px) , only screen and 
    (max-height: 1230px) {
  .detailed-attribute {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .listing-detail {
    margin: 0rem;
  }

  .listing-details {
    text-align: center;
    margin: 1rem;
  }

  .pill {
    font-size: 1.6rem;
  }
}

/* large screens */
@media only screen and (min-width: 1550px) , only screen and 
    (min-height: 1230px) {
  .listing-details {
    text-align: left;
  }

  .pill {
    font-size: 2rem;
  }
}
