html,
body {
  margin: 0;
  padding: 0;
}

a {	
  color: inherit;	
  text-decoration: none;	
}

.dropdown-box {	
  position: relative;	
}	

.dropdown-box button {	
  background-color: #FFFFFF;	
  border: 1px solid #BDBDBD;	
  border-radius: 15px;	
  outline: none;	
  transition: border 0.5s; 	
}	

.dropdown-box button:hover {	
  background-color: #EEEEEE;	
  border: 1px solid #000000;	
}	

.dropdown-box button:focus {	
  background-color: #EEEEEE;	
  border: 1px solid #000000;	
}	

.dropdown-menu {	
  background-color: #FFFFFF;	
  display: none;	
  flex-flow: column nowrap;	
  left: 0px;	
  position: absolute;	
  width: 10em;	
}	

input[type=checkbox] {
  cursor: pointer;
}

input[type=radio] {
  cursor: pointer;
}

input[type=text] {
  background-color: #EEEEEE;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 5px;
  transition: 0.2s;
}

input[type=text]:focus,
textarea:focus {
  -webkit-box-shadow: 0px 0px 5px 0px #00000080;
  -moz-box-shadow: 0px 0px 5px 0px #00000080;
  box-shadow: 0px 0px 5px 0px #00000080;
}

main {
  padding: 0px 15px;
}

#search-box {
  border-radius: 0px 0px 15px 15px;
  padding: 1em;
}

.search-filter-title {
  display: flex;
  justify-content: space-between;
}

#search-icon {	
  margin-right: 0.5em;	
}

#search-keyword {
  width: 100%;
}

#search-keyword-container {
  align-items: center;
  display: flex;
  margin: 0.5em 0;
  padding: 5px;
}

.search-label {
  cursor: pointer;
}

.search-listings-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70%;
}

.see-all-filter {
  font-size: .95rem;
  cursor: pointer;
}

.see-all-filter:hover {
  text-decoration: underline;
}

.show-dropdown-menu {	
  display: block;	
}	
