target/
.idea
secret.*
AuthenticationLegacy.java
CreateUserLegacy.java
auth.js
authtest.html
script-legacy.js
CreateUser.java
reputation_test.html
reputation.js
reputation_copy.js
Listing.java
listing-detailed.js
listing-detailed.css
master.css
