.listing-heading-container {
  display: flex;
  justify-content: space-between;
}

.listing {
  display: flex;
  flex-flow: row nowrap;
}

.listing:hover {
  cursor: pointer;
}

.listing-image {
  border: 5px solid #8EEEDE;
  border-radius: 15px;
  margin-right: 10px;
  width: 150px;
}
