.rectangle {
  background-color: white;
  border-radius: 25px;
  border: 5px solid #8EEEDE;
  height: 350px;
  padding: 20px; 
  width: 231px; 
}

.empty-rectangle{
  border: none !important;
  display:flex;
  height: auto;
  width: 25px;
}
.box {
  align-items: center;  
  border: none !important;
  display: flex;
  justify-content: center;
}

#rectangle-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}
.center {
  text-align: center;
}
.foot{
  border: none !important;  
  bottom: 5px;  
  position: fixed;     
  text-align: center;     
  width: 100%;
}  