.profile {
  align-self: flex-start;
}

.user-name {
  margin: 1.5rem;
}

.user-email {
  margin: 0;
}

.create-listing {
  margin-top: 3rem;
}

.user-listing-container {
  font-size: 1.5rem;
}

.created-listings-tab {
  background: #8EEEDE;
  margin-right: 1.5rem;
}

.upvoted-listings-tab {
  margin-left: 1.5rem;
}

.upvoted-listings {
  display: none;
}

/* medium - large screens */
@media only screen and (min-width: 600px) {
  .card-name {
    font-size: 3rem;
  }
}

/* Landscape */
/* bigger screens */
@media only screen and (min-width: 950px) and (orientation: landscape) {
  .profile {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
  }
}
